*{
    margin: 0;
    padding: 0;
}
header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.one{
    display: flex;
    align-items: center;
 
    
}
#G{
    color: rgb(158, 30, 175);
}
.you,.tic{
    height: 40px;
    width: 40px;
}
.rightside{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 30px;
}
.three{
    top:  20px;
    background-color:rgba(11, 2, 35, 0.10);
    
    text-align: center;
    gap: 20px;
    display: flex;


    justify-content: center;
    align-items: center;
 
}
.you{
    margin-left: 10px;
}
.tic{

    height: 35px;
}

.three:hover{
    border: 1px solid red;
}
.six{
    height: 20px;
    padding:10px ;
}


/* second part start */

.img6{
    height: 40px;
}
.img5{
    display: flex;
    align-items: center;
}
section2{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    

}
.ten ,.img11{
    width: 300px;
    height: 300px;
}
section3{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
section4{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.img12{
    height: 200px;
    width: 150px;
}
.section40,.section41{
    margin-left: 220px;
    margin-top: 10px;
}
.imagearrange{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    top: 20px;
}


@media screen and (max-width:760px) {
    header{
        flex-direction: column;
    }
    .rightside{
        flex-direction: column;
    }
    .one{
        flex-direction: column;
    }
    section2{
        flex-direction: column;
    }
    section3{
        flex-direction: column;
    }
    .imagearrange{
        display: grid;
        grid-template-columns: repeat(1,auto);
        margin-left: 50px;
    }
    .section40,.section41{
        margin-left: 10px;
        margin-top: 20px;
    }
  
    
}
